<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
               
                <h2>  This project has a controller Payload Controller, which calls a JSON based Web service that accepts and filters the posted json request and
        returns that as the response.</h2>
                <h3>To test the Json Web Service please use a rest client like POSTMan.</h3>
            </hgroup>
            
        </div>
    </section>
   
</div>
